@charset "UTF-8";

body {
    background-color: rgb(170, 178, 250);
    font: normal 16pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

p{
    display: flex;
    gap: 4px;
    flex-direction: row;
}

#flista {
    width: 160px;
}

#dados{
    margin-bottom: -10px;
}

#finalizar {
    margin-left: 10px;
}

div {
    padding: 10px;
}

#res {
    margin-top: -20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}